html, body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

/* Component App */

.App {
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  letter-spacing: 1px;
  min-height: 100vh;
}

.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: white;
}

.light-mode {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

/* Component Header  */

.Header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem 4rem 1rem 4rem;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.45);
  position: sticky;
  top: 0;
  z-index: 10;
}

.Header h2 {
  margin-right: 1.5rem;
}

.dark-mode-el {
  background-color: hsl(209, 23%, 22%) !important;
  color: white !important;
}

.light-mode-el {
  background-color: white;
  color: black;
}

.Header button.btn:focus {
  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.25);
}

button.btn i.fa-moon {
  margin-right: 10px;
}

/* Component HomePage, List and Card */

.HomePage {
  flex-wrap: wrap;
}

.row-load-more {
  padding-bottom: 4rem;
}

.row-load-more button.btn-load-more {
  padding: 0.5rem 2.5rem;
}

button.btn-load-more:focus {
  box-shadow: 0 0 0 0.2rem #888888;
}

.HomePage .cols {
  padding: 4rem 2rem 4rem 2rem;
}

.HomePage .card {
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.45);
  border-radius: 0.4rem;
  letter-spacing: 1px;
}

p.card-text {
  font-size: 14px;
}

.Card img {
  border-top-left-radius: calc(0.4rem - 1px);
  border-top-right-radius: calc(0.4rem - 1px);
}

span.grey {
  color: #888888;
}

.Card a:hover {
  text-decoration: none !important;
  color: white;
}

/* Component Search  and Component Select */

.search-select {
  justify-content: space-between;
  flex-wrap: wrap;
}

input.form-control,
select.form-control {
  padding: 0.5rem 1rem;
  height: calc(1.5em + 2rem + 2px);
}

input.form-control::placeholder {
  color: #9E9E9E;
}

input.form-control:focus,
select.form-control:focus {
    color:white;
    background-color: hsl(209, 23%, 22%);
    border-color:  hsl(209, 23%, 22%);
    box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.25);
}

.form-dark-mode {
  background-color: hsl(209, 23%, 22%) !important;
  border: 1px solid hsl(209, 23%, 22%) !important;
  color: rgba(255, 255, 255, 0.719) !important;
}

.form-light-mode {
  background-color: white !important;
  color: black !important;
  border: 1px solid white !important;
  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.07);
}

/* Component NotFound */

.NotFound {
  height: 86.3vh;
  position: relative;
}

.NotFound h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

.NotFound button.btn {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Component Detail */

.img-flag {
  width: 100%;
}

/* Component Details */

.Details {
  padding-left: 4rem;
  padding-right: 4rem;
}

.row-back .btn {
  padding: 0.5rem 2.5rem;
  margin: 4rem;
}

.row-back .btn:hover {
  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.25);
}

.row-flag-text {
  align-items: center;
  justify-content: space-around;
  padding-bottom: 4rem;
}

.Details h3 {
  font-weight: 800;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.Details p {
  font-size: 16px;
  margin-bottom: 10px;
}

span.languages:not(:last-child)::after {
  content: ", ";
}

span.borders {
  display: inline-block;
    background-color:  hsl(209, 23%, 22%);
    margin: 5px;
    padding: 5px 10px;
}

.light-mode-borders {
  background-color: hsl(0, 0%, 98%) !important;
  color: #888888 !important;
  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.07);
}

/* Responsive Tablet and Mobile design */

@media only screen and (max-width: 600px) {
  .Header h2 {
    font-size: larger;
    font-weight: 600;
  }

  .Header button {
    font-size: small;
    font-weight: 600;
  }
}

